/* --jet: #161615;
--davys-grey: #5f5f59;
--bronze: #d58936;
--brick-red: #c14953;
--bone: #e5dcc5; */


@font-face {
    font-family: 'OneDance-Bold';
    src: url('fonts/OneDance-Bold.eot');
    src: url('fonts/OneDance-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OneDance-Bold.woff2') format('woff2'),
        url('fonts/OneDance-Bold.woff') format('woff'),
        url('fonts/OneDance-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UnitedStates';
    src: url('fonts/UnitedStates.eot');
    src: url('fonts/UnitedStates.eot?#iefix') format('embedded-opentype'),
        url('fonts/UnitedStates.woff2') format('woff2'),
        url('fonts/UnitedStates.woff') format('woff'),
        url('fonts/UnitedStates.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Green Fuz';
    src: url('fonts/GreenFuz-Regular.eot');
    src: url('fonts/GreenFuz-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GreenFuz-Regular.woff2') format('woff2'),
        url('fonts/GreenFuz-Regular.woff') format('woff'),
        url('fonts/GreenFuz-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '1 Punk';
    src: url('fonts/1Punk.eot');
    src: url('fonts/1Punk.eot?#iefix') format('embedded-opentype'),
        url('fonts/1Punk.woff2') format('woff2'),
        url('fonts/1Punk.woff') format('woff'),
        url('fonts/1Punk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DEATH FONT';
    src: url('fonts/DEATH-FONT-ver10.eot');
    src: url('fonts/DEATH-FONT-ver10.eot?#iefix') format('embedded-opentype'),
        url('fonts/DEATH-FONT-ver10.woff2') format('woff2'),
        url('fonts/DEATH-FONT-ver10.woff') format('woff'),
        url('fonts/DEATH-FONT-ver10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.financeBody {
    background: #161615;
    background: url(images/mockup-photos-5nUNdLueQio-unsplash_LR.jpg);
    background-size: cover;
    background-position: center;
}

.humanBody {
    background: #161615;
    background: url(images/brushed-steel-BG.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.humanBody::after {
    content: "";
    width: 100vw;
    height: 100vh;
    background: url(images/komorebi2.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: overlay;
    opacity: 0.25;
}

.patternH {
    height: 100px;
    width: 100vW;
    background: url(images/BG-pattern.png) repeat-x;
    background-size: 200px 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    display: none;
}

/* Opening Modal and background screen */

.blackScreen {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9900;
}

.startModal {
    background-color: #c2c1ac;
    width: 300px;
    height: 200px;
    padding: 80px 40px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 5px #000 ;
    background-image: url(images/bg-texture.png);
    background-repeat: repeat-x;
    background-size: 100%;
    background-position-y: 3px;
    color: #2f5024;
    line-height: 1.5em;
    font-family: 'Libre Baskerville', serif;
    border: #c2c1ac solid 1px;
}

.startModal img {
    width: 150px;
    display: block;
    margin: 30px auto;
}

.startModal::before {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url(images/money-frame.png);
    background-repeat: repeat-x;
    background-size: 100%;
    position: absolute;
    top: 5px;
    left: 0;
}

.startModal::after {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url(images/money-frame_USD.png);
    background-repeat: repeat-x;
    background-size: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.header {
    width: calc(100vw - 40px);
    height: 20px;
    background-color: #c2c1ac;
    line-height: 1.6em;
    padding: 10px 20px;
    z-index: 2000;
}
.header div {
    z-index: 2100;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: fit-content;
}
#financeHeader {
    background-image: url(images/bg-texture.png);
    box-shadow: 0 1px 5px #000 ;
    font-family: 'UnitedStates';
}
#humanHeader {
    background-image: url(images/wood-texture.jpg);
    box-shadow: 0 0 3px rgba(255,255,255,0.3) ;
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
}
#financeHeader::before {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url(images/money-frame.png);
    background-repeat: repeat-x;
    background-size: 312px 19px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2001;
}
#financeHeader div {
    background-color: #c2c1ac;
    background-image: url(images/bg-texture.png);
    padding: 0 10px;
    color: #2f5024;
}

#humanHeader div {
    color: #c6c5b9;
    letter-spacing: 0.3em;
}

.wrapper {
    width: 100%;
    height: calc(100% - 120px);
    padding: 40px 0;
    z-index: -1000;
}

.character {
    width: 500px;
    min-height: 400px;
    height: fit-content;
    margin: 0 auto;
    border-radius: 14px;
    padding: 20px;
    position: relative;
}
#financeCard {
    background-color: #111111;
    box-shadow: 0 0 8px #000 ;
    border: #35332e solid 1px;
}

#humanCard, #humanHeader {
    display: none;
}

.charPic, .charPicH {
    width: 480px;
    height: 480px;
    margin: 10px;
    border-radius: 4px;
    position: relative;
}
.charPicH {
    height: fit-content;
}
.charImg, .charImgH {
    width: 480px;
    height: 480px;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 80;
}
.charImgH {
    height: auto;
    position: relative;
    border: rgba(0,0,0, 0.5) 1px solid;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    transition-duration: 300ms;
}
.charPic::after {
    content: "";
    width: 520px;
    height: 520px;
    position: absolute;
    top: -20px;
    left: -20px;
    background-image: url(images/frame-bad3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 100;
}
#shuffleGIF, #shuffleGIFH {
    width: 480px;
    height: 480px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url(images/shuffle-villans.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    z-index: 90;
    display: none;
}

.charTxt, .charTxtH {
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    z-index: 110;
}

.charTxt h2 {
    color: #9e9d8f;
    margin: 0;
    font-family: 'DEATH FONT';
    font-size: 3.2em;
    letter-spacing: 0.1em;
}

.charTxtH h2{
    color: #141212;
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2em;
    font-size: 2.4em;
    text-shadow: 0 0 8px rgba(255,255,255, 1);
}

.turdBubble, .factBubble {
    position: absolute;
    width: 200px;
    min-height: 100px;
    z-index: -1;
    text-align: center;
    line-height: 1.5em;
}
.turdBubble {
    box-shadow: 0 0 8px #000 ;
    padding: 60px 40px 40px 40px;
    background-image: url(images/bg-texture.png);
    background-repeat: repeat-x;
    background-size: 100%;
    background-position-y: 3px;
    background: #c2c1ac;
    color: #2f5024;
    font-family: 'Libre Baskerville', serif;
    border: #c2c1ac solid 1px;
    top: 50%;
    transition-duration: 200ms;
}
.factBubble {
    color: #000000;
    font-family: 'Dosis', sans-serif;
    /* font-weight: lighter; */
    font-size: 0.9em;
    line-height: 1.8em;
    letter-spacing: 0.2em;
    background: rgba(200, 200, 200, 0.5);
    box-shadow: 0 0 8px rgba(0,0,0, 0.5) ;
    padding: 40px 40px 40px 40px;
    border: rgba(0,0,0, 0.5) solid 1px;
    top: 50px;
    transition-duration: 200ms;
}

.factBubble p {
    text-shadow: 0 0 6px rgba(200, 200, 200, 1);
}
.factBubble .topImgH {
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10;
    margin: 0 auto;
}

.turdBubble::before {
    content: "";
    width: 100%;
    height: 15px;
    background-image: url(images/money-frame.png);
    background-repeat: repeat-x;
    background-size: 100%;
    position: absolute;
    top: 3px;
    left: 0;
}
.turdBubble::after {
    content: "";
    width: 100%;
    height: 15px;
    background-image: url(images/money-frame_USD.png);
    background-repeat: repeat-x;
    background-size: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
}

#turdR .topImg, #turdL .topImg {
    display: block;
    width: 60px;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 10;
}
#turdR .bottomImg, #turdL .bottomImg {
    display: block;
    width: auto;
    height: 120px;
    position: absolute;
    bottom: 0;
    z-index: 8;
}
#turdR img {
    right: 0;
}
#turdL img {
    left: 0;
}
#turdR, #factR {
    transform: translate(-50%, -50%);
    right: calc(50% - 390px);
    border-radius: 0 2px 2px 0;
}
#factR {
    right: calc(50% - 400px);
    border-radius: 10px;
}
#turdL, #factL {
    transform: translate(50%, -50%);
    left: calc(50% - 390px);
    border-radius: 2px 0 0 2px;
}
#factL {
    left: calc(50% - 400px);
    border-radius: 10px;
}

.charTxt p, .charTxtH p {
    display: block;
    font-family: serif;
    line-height: 1.2em;
    margin-top: 50px;
}

/* Buttons */

.randomizer, .randomFact, .controlMain, .stems {
    width: 60px;
    height: 60px;
    position: fixed;
    border-radius: 50%;
}

.financeBtn {
    background-color: #c2c1ac;
    border: #2f5024 double 4px;
    box-shadow: 0 0 5px #000 ;
    color: #2f5024;
    font-family: 'UnitedStates';
}
.humanBtn {
    background: url(images/wood-texture.jpg);
    box-shadow: 0 0 3px rgba(255,255,255,0.5) ;
    margin: 4px;
    display: none;
    color: #c6c5b9;
    font-family: 'Dosis', sans-serif;
}

.financeBtn:hover {
    background-color: #8b8b7f;
    transition-duration: 300ms;
}

.humanBtn:hover {
    background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/wood-texture.jpg);
    transition-duration: 300ms;
}

.randomizer img, .randomFact img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#fandomFactH img, #fandomCardH img {
    width: 30px;
    height: 30px;
    top: 15px;
    left: 15px;
}

.controlMain {
    left: 20px;
    bottom: 20px;
}

#human {
    left: 20px;
    bottom: 100px;
}

#finance {
    left: 20px;
    bottom: 100px;
}

.stems {
    font-size: 1.2em;
    line-height: 3.4em;
    text-align: center;
}
.randomizer {
    right: 20px;
    bottom: 20px;
}

.randomFact {
    right: 20px;
    bottom: 100px;
}

/* .paused {
    background-image: url(images/Play_btn.svg);
}

.playing {
    background-image: url(images/Pause_btn.svg);
} */

.muted {
    display: block;
}

.unmuted {
    background-color: #203618;
    color: #747160;
    display: none;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        padding: 20px 0;
        height: calc(100% - 80px);
        overflow-y: scroll;
    }
    .patternH {
        top: 200px;
    }
    .character {
        max-width: calc(100vw - 60px);
        min-height: 400px;
        margin-bottom: 60px;
    }
    #humanCard {
        padding: 0;
    }
    .charPic, .charPicH, .charImg, .charImgH {
        width: calc(100vw - 100px);
        max-width: 480px;
        height: calc(100vw - 100px);
        max-height: 480px;
        margin: 20px auto;
    }
    .charPicH,.charImgH {
        width: 100%;
        height: auto;
        max-height: unset;
        margin: 10px auto;
    }
    .charImg, .charImgH {
        margin: 0 auto;
    }
    .charPic::after {
        width: calc(100vw - 60px);
        height: calc(100vw - 60px);
        max-width: 500px;
        max-height: 500px;
    }
    
    .charTxt, .charTxtH {
        width: calc(100vw - 60px);
        max-width: 500px;
        margin-bottom: 0;
    }
    .charTxtH {
        margin-top: 10px;
    }
    .charTxt h2 {
        font-size: 2.4em;
    }
    .charTxtH h2 {
        font-size: 1.8em;
    }
    .turdBubble, .factBubble {
        position:static;
        top: unset;
        right: unset;
        min-height: unset;
    }
    .turdBubble {
        background: none;
        padding: 0;
        border: none;
        box-shadow: none;
        color: #9e9d8f;
        transform: unset;
        width: inherit;
    }
    .turdBubble::after {
        background: none;
    }
    .turdBubble::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        margin: 10px auto;
        background-image: url(images/factIcon-wht.svg);
    }
    #turdR, #factR {
        display: none;
    }
    #turdL, #factL {
        width: calc(100vw - 60px);
        max-width: 500px;
        transform: unset;
        left: unset;
    }
    #factL {
        width: calc(100vw - 100px);
        padding: 20px;
    }
    #turdL img.topImg, #turdL img.bottomImg {
        display: none;
    }
    p.charFact {
        margin-top: 0;
    }
    .randomizer, .randomFact, .controlMain, .stems {
        width: 40px;
        height: 40px;
    }

    .randomFact {
    right: 80px;
    bottom: 20px;
    }

    #human, #finance  {
        left: 80px;
        bottom: 20px;
    }
    
    .stems {
        font-size: 1.2em;
        line-height: 2.4em;
    }
    .randomizer img, .randomFact img, #fandomCardH img, #fandomFactH img {
        width: 30px;
        height: 30px;
        top: 5px;
        left: 5px;
    }
    
}

@media only screen and (max-width: 400px) {
    .wrapper {
        padding: 0;
        height: calc(100% - 40px);
    }

    .header {
        font-size: 0.8em;
        line-height: 2.2em;
    }

    .character {
        width: calc(100vw - 20px);
        max-width: unset;
        height: fit-content;
        margin: 5px 5px 60px 5px;
        border-radius: 0;
        padding: 20px 5px;
        overflow-y: scroll;
    }
    #humanCard {
        margin: 10px 10px 60px 10px;
    }
    .charPic, .charImg {
        width: calc(100vw - 60px);
        height: calc(100vw - 60px);
        margin: 5px auto;
    }
    .charPic::after {
        width: calc(100vw - 20px);
        height: calc(100vw - 20px);
    }
    
    .charTxt {
        width: calc(100vw - 40px);
        margin: 40px auto 0 auto;
    }
    .charTxtH {
        width: calc(100vw - 20px);
    }
    #turdL, #factL {
        width: calc(100vw - 40px);
        margin: 0 auto;
    }
    #factL {
        width: calc(100vw - 60px);
    }
    /* #randomizers {
        height: 40px;
        width: fit-content;
        background: #161615;
        position: fixed;
        bottom: 0;
        right: 0;
    } */
    /* .randomizer, .randomFact {
        right: unset;
        bottom: unset;
        position: static;
        margin: 0 10px;
    } */

}

.displaynone {
    display: none;
}