/* --jet: #161615;
--davys-grey: #5f5f59;
--bronze: #d58936;
--brick-red: #c14953;
--bone: #e5dcc5; */

@font-face {
    font-family: 'OneDance-Bold';
    src: url('fonts/OneDance-Bold.eot');
    src: url('fonts/OneDance-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OneDance-Bold.woff2') format('woff2'),
        url('fonts/OneDance-Bold.woff') format('woff'),
        url('fonts/OneDance-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UnitedStates';
    src: url('fonts/UnitedStates.eot');
    src: url('fonts/UnitedStates.eot?#iefix') format('embedded-opentype'),
        url('fonts/UnitedStates.woff2') format('woff2'),
        url('fonts/UnitedStates.woff') format('woff'),
        url('fonts/UnitedStates.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Green Fuz';
    src: url('fonts/GreenFuz-Regular.eot');
    src: url('fonts/GreenFuz-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GreenFuz-Regular.woff2') format('woff2'),
        url('fonts/GreenFuz-Regular.woff') format('woff'),
        url('fonts/GreenFuz-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '1 Punk';
    src: url('fonts/1Punk.eot');
    src: url('fonts/1Punk.eot?#iefix') format('embedded-opentype'),
        url('fonts/1Punk.woff2') format('woff2'),
        url('fonts/1Punk.woff') format('woff'),
        url('fonts/1Punk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DEATH FONT';
    src: url('fonts/DEATH-FONT-ver10.eot');
    src: url('fonts/DEATH-FONT-ver10.eot?#iefix') format('embedded-opentype'),
        url('fonts/DEATH-FONT-ver10.woff2') format('woff2'),
        url('fonts/DEATH-FONT-ver10.woff') format('woff'),
        url('fonts/DEATH-FONT-ver10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #161615;
}

.blackScreen {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9900;
}

.startModal {
    background-color: #c2c1ac;
    width: 300px;
    height: 200px;
    padding: 80px 40px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 5px #000 ;
    background-image: url(images/money-frame.png);
    background-repeat: repeat-x;
    background-size: 100%;
    background-position-y: 3px;
    color: #2f5024;
    line-height: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

.startModal img {
    width: 150px;
    display: block;
    margin: 30px auto;
}

.startModal::after {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url(images/money-frame_USD.png);
    background-repeat: repeat-x;
    background-size: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.header {
    width: calc(100vw - 40px);
    height: 20px;
    background-color: #c2c1ac;
    box-shadow: 0 3px 1px #000 ;
    font-family: 'UnitedStates';
    line-height: 1.6em;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    z-index: 2000;
    background-image: url(images/money-frame.png);
    background-repeat: repeat-x;
    background-size: auto 40%;
    background-position-y:center;
}
.header div {
    background-color: #c2c1ac;
    padding: 0 10px;
    color: #2f5024;
}

.wrapper {
    width: 100%;
    height: calc(100% - 120px);
    background: url(images/bg-texture.png);
    padding: 40px 0;
}

.character {
    width: 500px;
    min-height: 400px;
    height: fit-content;
    margin: 0 auto;
    background-color: #474742;
    border-radius: 14px;
    padding: 20px;
    /* position: relative; */
    box-shadow: 0 0 5px #000 ;
    position: relative;
}

.charPic {
    width: 480px;
    height: 480px;
    margin: 10px;
    border-radius: 4px;
    position: relative;
}
.charPic::after {
    content: "";
    width: 520px;
    height: 520px;
    position: absolute;
    top: -20px;
    left: -20px;
    background-image: url(images/frame-bad1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 100;
}
#shuffleGIF {
    width: 480px;
    height: 480px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/shuffle-villans.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 90;
    display: none;
}

.charTxt {
    width: 500px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
    z-index: 110;
}

.charTxt h2 {
    margin: 0;
    font-family: 'DEATH FONT';
    font-size: 4em;
}

.turdBubble {
    position: absolute;
    width: 200px;
    min-height: 100px;
    padding: 60px 40px 40px 40px;
    top: 50%;
    background: #c2c1ac;
    z-index: -1;
    text-align: center;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 5px #000 ;
    background-image: url(images/money-frame.png);
    background-repeat: repeat-x;
    background-size: 100%;
    background-position-y: 3px;
    color: #2f5024;
    line-height: 1.5em;
    font-family: 'Libre Baskerville', serif;
}
.turdBubble::after {
    content: "";
    width: 100%;
    height: 15px;
    background-image: url(images/money-frame_USD.png);
    background-repeat: repeat-x;
    background-size: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
}

#turdR .topImg, #turdL .topImg {
    display: block;
    width: 60px;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 10;
}
#turdR .bottomImg, #turdL .bottomImg {
    display: block;
    width: auto;
    height: 120px;
    position: absolute;
    bottom: 0;
    z-index: 8;
}
#turdR img {
    right: 0;
}
#turdL img {
    left: 0;
}
#turdR {
    transform: translate(-50%, -50%);
    right: calc(50% - 390px);
    transition-duration: 200ms;
}
#turdL {
    transform: translate(50%, -50%);
    left: calc(50% - 280px - 110px);
    transition-duration: 200ms;
}

.charTxt p {
    display: block;
    font-family: serif;
    line-height: 1.2em;
    margin-top: 50px;
}

/* Buttons */

.randomizer, .randomFact, .controlMain, .stems {
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: #c2c1ac;
    border-radius: 50%;
    border: #2f5024 double 4px;
    box-shadow: 0 0 5px #000 ;
}
.randomizer:hover, .randomFact:hover {
    background-color: #9e9d8f;
    transition-duration: 300ms;
}

.randomizer img, .randomFact img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.controlMain {
    left: 20px;
    bottom: 20px;
}

#hero {
    left: 20px;
    bottom: 100px;
}

#villan {
    left: 20px;
    bottom: 180px;
}

.stems {
    font-family: 'UnitedStates';
    font-size: 1.2em;
    line-height: 3.4em;
    text-align: center;
}
.randomizer {
    right: 20px;
    bottom: 20px;
}

.randomFact {
    right: 20px;
    bottom: 100px;
}

.paused {
    background-image: url(images/Play_btn.svg);
}

.playing {
    background-image: url(images/Pause_btn.svg);
}

.muted {
    background-color: #747160;
    color: #203618;
}

.unmuted {
    background-color: #203618;
    color: #747160;
}

/* .randomFact {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #c14953;
    border-radius: 10px;
} */

@media only screen and (max-width: 800px) {
    .wrapper {
        padding: 20px 0;
        height: calc(100% - 80px);
    }
    .character {
        width: 300px;
        min-height: 400px;
    }
    
    .charPic {
        width: 280px;
        height: 280px;
    }
    .charPic::after {
        width: 320px;
        height: 320px;
    }
    
    .charTxt {
        width: 300px;
        margin-bottom: 0;
    }
    .charTxt h2 {
        font-size: 2.4em;
    }
    .turdBubble {
        position: static;
        top: unset;
        right: unset;
        transform: unset;
        background: none;
        width: inherit;
        min-height: unset;
        padding: 0;
        box-shadow: none;
        color: #000000;
    }
    .turdBubble::after {
        background: none;
    }
    .turdBubble::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        margin: 10px auto;
        background-image: url(images/factIcon.svg);
    }
    #turdR {
        display: none;
    }
    #turdL {
        transform: unset;
        left: unset;
    }
    #turdL img.topImg, #turdL img.bottomImg {
        display: none;
    }
    p.charFact {
        margin-top: 0;
    }
    .randomizer, .randomFact, .controlMain, .stems {
        width: 40px;
        height: 40px;
    }
    .randomizer:hover, .randomFact:hover {
        background: #c2c1ac;
    }
    .randomFact {
    right: 80px;
    bottom: 20px;
    }

    #hero {
        left: 80px;
        bottom: 20px;
    }
    
    #villan {
        left: 140px;
        bottom: 20px;
    }
    .stems {
        font-size: 1.2em;
        line-height: 2.4em;

    }
    .randomizer img, .randomFact img {
        width: 30px;
        height: 30px;
        top: 5px;
        left: 5px;
    }
    
}

@media only screen and (max-width: 340px) {
    .wrapper {
        padding: 0;
        height: calc(100% - 40px);
    }

    .character {
        width: calc(100vw - 20px);
        height: calc(100vh - 80px);
        border-radius: 0;
        padding: 20px 10px;
        overflow-y: scroll;
    }
    
    .charPic {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
    }
    .charPic::after {
        width: 100vw;
        height: 100vw;
    }
    
    .charTxt {
        width: calc(100vw - 20px);
        margin-bottom: 0;
    }
    #randomizers {
        height: 40px;
        width: 100vw;
        background: #161615;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }
    .randomizer, .randomFact {
        right: unset;
        bottom: unset;
        position: static;
        margin: 0 10px;
    }

}